// Імпорти стилів
@import url(../css/normalize.css);

// Перемінні
$basa: 20px;

// відступ від футера
body {
    padding-top: 100px;
}

// контейнер сторінки
.page {
    display: flex;
    flex-direction: column;
    position: relative; 
}

// верх
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

// кнопка
.btn {
    background-color: blueviolet;
    color: white;
    padding: 20px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    transition: transform .5s, outline-color .5s;
    outline: 1px solid transparent;
    outline-offset: 4px;
}

// фокусова кнопка
.btn:focus-visible {
    outline-color: blueviolet;
}

// наведення на кнопку
.btn:hover {
    transform: scale(1.03);
}

// натиснута кнопка
.btn:active {
    transform: scale(0.97);
}

// додатковий стиль кнопки
.flash-btn {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0, 94, 255, .4);
}

// анімація кнопки
.flash-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    opacity: .02;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition: transform .7s, opacity .3s;
}

// анімація наведення на кнопку
.flash-btn:hover::after {
    transform: scale(5);
    opacity: .14;
}

// натиснута кнопка
.flash-btn:active {
    transition: transform .5s, outline-color .5s, box-shadow .5s;
    box-shadow: 0px 0px 0px 20px rgba(0, 94, 255, 0);
}



// шапка
.header {
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
    background-image: url(../img/winter.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: box-shadow .3s;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

// кентейнер шапки
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition:  padding-top .3s,  padding-bottom .3s;
    height: 100px;
    transition: height 0.5s;
}

// поле пошуку
.header__search {
    width: 250px;

    // форма
    form {
        display: flex;
        flex-direction: row;
        height: 40px;

        // кнопка
        button {
            
            // зображенян пошуку
            img {
                height: 100%;
            }
            
        }

    }

    // пошук
    .search-input{
        background: #fff;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
        display: flex;

        // поле пошуку
        input {
            padding: 10px;
        }
      }

}

  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
.search-input {
    position: relative;

  .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    position: absolute;
    right: 60px;
    top: 40px;
    width: 190px;
    background-color: white;
    padding: 75px 10px 10px 10px;
    transition: transform .5s;
    z-index: 5;
  }

}
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }

  .search-input .icon{
    position: relative;
    left: 10px;
    top: 0px;
    height: 40px;
    width: 50px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    cursor: pointer;
    transform: scale(100%);
    transition: transform 0.3s;

    img {
        height: 100%;
        
    }

  }

  .search-input .icon:hover{
    transform: scale(130%);
    transition: transform 0.3s;
  }

.search-input input:focus{
    background-color: blueviolet;
    color: white;
}

.search-input input::placeholder {
    color: blueviolet;
}

.search-input input:focus{
    background-color: rgba($color: blueviolet, $alpha: 0.8);
    color: white;

   
}

.search-input input:focus::placeholder {
    color: white;
}


.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 6;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header_mini {
    .header__container {
        height: 80px;
        transition: height 0.5s;
    }
}

.logo {
    display: block;
}

.logo__img {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    transition: width 0.5s;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    display: block;
    font-size: 18px;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 1.2rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100px;
    text-align: center;
    transition: border-color 1s color 1s;

}

.menu__link:hover {
    border-color: rgb(226, 43, 43);
    color: rgb(226, 43, 43);
    transition: border-color 1s color 1s;
}

.menu__now {
    display: block;
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 1.2rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100px;
    text-align: center;
    background-color: blueviolet;
    color: white;


}

@media (max-width: 992px) {
    .header__burger-btn {
        display: block;

    }

    a.logo {
        display: none;
    }
    .menu {
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: blueviolet;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        z-index: 5;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }

    .header.open .menu {
        transform: translateX(100%);
    }
}








// основне
main {
    flex: 1 1 auto;
    width: 100%;
    height: 50vh;
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    align-items: center;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        object-fit: cover;  
        flex: 1 1 auto;
            
        }

    .content {
        position: relative;
        align-self: center;
        display: flex;
        z-index: 2;
        flex-direction: column;
        background-color: rgba($color: #282323, $alpha: 0.7);
        flex: 1 1 auto;
        justify-content: center;
        color: white;
        padding: 10px 25px 30px 25px;
        width: 1020px;
        gap: 20px;
        

    h1 {
        font-size: 3rem;
        font-weight: bold;
        
    }
    p {
        font-size: 1.5rem; 
        font-weight: 500;
        line-height: 135%;
        letter-spacing: 0.1rem;
        
    }
            

    
            


}
}





// низ
footer {
    flex: 0 0 auto;
}

.footer {
    display: flex;
    height: 100px;
    background-color: blueviolet;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .telegram {
        position: relative;
        display: flex;
        padding: 30px;
    }

        img {
            position: absolute;
            max-height: 100%;
            border-radius: 50%;
            overflow: hidden;
            top: 0;
            left: 0;
            }

    .copyright {
        color: white;
    }

}

