@import url(../css/normalize.css);
@import url(../css/skeleton.css);
@import url(../css/custom.css);

$basa: 20px;


.section{
    
    background-image: url(../img/raid.jpg);
    background-repeat: no-repeat;
    position: relative;
    color: black;
    font-weight: 400;
    text-shadow: 5px 5px 20px 20px rgba($color: #000000, $alpha: 1.0);
}

.logo{
    text-decoration: underline;
    color: white;
    padding-left: 17%;

}

img {
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
}

.action {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
}
